.HomeCards {
	margin: 0 0 100px;

	.container {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; // 16:9 (1110/1970 ≈ 0.563)
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	// Классы для разных языков
	.containerENG {
		background-image: url('../../assets/images/eng.png');
	}

	.containerRUS {
		background-image: url('../../assets/images/RUS.png');
	}

	.containerKAZ {
		background-image: url('../../assets/images/Kaz.png');
	}

	.containerUZB {
		background-image: url('../../assets/images/UZB.png');
	}

	.containerTUR {
		background-image: url('../../assets/images/TUR.png');
	}

	.buttonsRow {
		margin: 10px calc(20px + (130 - 20) * (100vw - 320px) / (1920 - 320)) 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 30px;
	}

	// Стили для локальных кнопок
	.button {
		font-family: var(--font-family);
		font-weight: 700;
		text-align: center;
		transition: 0.3s;
		padding: 20px 30px;
		font-size: clamp(12px, calc(12px + 10px * (100vw / 1315px)), 22px);
		display: inline-block;
		min-width: 150px;
		text-decoration: none;
		cursor: pointer;

		// Стили для разных цветов кнопок
		&.pink {
			color: var(--white);
			background: url('../../assets/images/pink-bg.png') no-repeat center/100%
				100%;
			background-size: 100% 100%;
		}

		&.purple {
			color: var(--white);
			background: url('../../assets/images/purple-bg.png') no-repeat center/100%
				100%;
			background-size: 100% 100%;
		}

		&.orange {
			color: var(--white);
			background: url('../../assets/images/orange.png') no-repeat center/100%
				100%;
			background-size: 100% 100%;
		}
	}

	@media (max-width: 1200px) {
		.button {
			padding: 17px 25px;
		}
	}

	@media (max-width: 800px) {
		.button {
			padding: 10px 20px;
			font-size: clamp(12px, 8px + 0.760456vw, 18px);
		}
	}

	@media (max-width: 768px) {
		margin: 60px 0;

		.buttonsRow {
			gap: 20px;
		}

		.button {
			min-width: 100px;
			font-size: 14px;
		}
	}

	@media (max-width: 550px) {
		margin: 40px 0;

		.buttonsRow {
			margin: 20px 20px;
		}

		.button {
			padding: 7px 15px;
			font-size: 11px;
		}
	}
}
