.HomeCards {
	margin: 0 0 100px;

	.container {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; // 16:9 (1110/1970 ≈ 0.563)
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		max-height: 1900px;
	}

	// Классы для разных языков
	.containerENG {
		background-image: url('../../assets/images/eng.png');
	}

	.containerRUS {
		background-image: url('../../assets/images/RUS.png');
	}

	.containerKAZ {
		background-image: url('../../assets/images/Kaz.png');
	}

	.containerUZB {
		background-image: url('../../assets/images/UZB.png');
	}

	.containerTUR {
		background-image: url('../../assets/images/TUR.png');
	}

	// Стили для локальных кнопок
	.button {
		font-family: var(--font-family);
		font-weight: 700;
		text-align: center;
		transition: 0.3s;
		padding: 20px 30px;
		font-size: clamp(12px, calc(12px + 10px * (100vw / 1315px)), 22px);
		display: inline-block;
		text-decoration: none;
		cursor: pointer;

		// Стили для разных цветов кнопок
		&.pink {
			color: var(--white);
			background: url('../../assets/images/pink-bg.png') no-repeat center/100%
				100%;
			background-size: 100% 100%;
		}

		&.purple {
			color: var(--white);
			background: url('../../assets/images/purple-bg.png') no-repeat center/100%
				100%;
			background-size: 100% 100%;
		}

		&.orange {
			color: var(--white);
			background: url('../../assets/images/orange.png') no-repeat center/100%
				100%;
			background-size: 100% 100%;
		}
	}

	.buttonsRow {
		margin: 20px calc(20px + (130 - 20) * (100vw - 320px) / (1920 - 320)) 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		&.buttonsRowENG {
			:first-child {
				margin-left: 30px;
			}
			:last-child {
				margin-right: 30px;
			}

			& .button {
				padding: 12px 30px;
				min-width: 150px;
			}
		}

		&.buttonsRowRUS {
			:first-child {
				margin-left: 15px;
			}
			:last-child {
				margin-right: 20px;
			}

			& .button {
				min-width: 150px;
			}
		}

		&.buttonsRowKAZ {
			:first-child {
				margin-left: 34px;
			}
			:last-child {
				margin-right: 10px;
			}

			& .button {
				padding: 13px 30px;
				min-width: 150px;
			}
		}

		&.buttonsRowUZB {
			:first-child {
				margin-left: 50px;
			}
			:last-child {
				margin-right: 50px;
			}

			& .button {
				min-width: 150px;
			}
		}

		&.buttonsRowTUR {
			:first-child {
				margin-left: 45px;
			}
			:last-child {
				margin-right: 55px;
			}

			& .button {
				padding: 10px 20px;
				min-width: 150px;
			}
		}
	}

	@media (max-width: 1200px) {
		.buttonsRow {
			&.buttonsRowTUR {
				:first-child {
					margin-left: 52px;
				}
				:last-child {
					margin-right: 75px;
				}
			}
		}
	}

	@media (max-width: 1100px) {
		.buttonsRow {
			&.buttonsRowUZB {
				:first-child {
					margin-left: 35px;
				}
				:last-child {
					margin-right: 40px;
				}
			}
			&.buttonsRowTUR {
				:first-child {
					margin-left: 30px;
				}
				:last-child {
					margin-right: 40px;
				}
			}
			&.buttonsRowKAZ {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 0px;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.buttonsRow {
			margin: 10px calc(20px + (130 - 20) * (100vw - 320px) / (1920 - 320)) 0;

			&.buttonsRowUZB {
				:first-child {
					margin-left: 25px;
				}
				:last-child {
					margin-right: 25px;
				}
			}
			&.buttonsRowTUR {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 30px;
				}
			}
			&.buttonsRowKAZ {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 10px;
				}

				& .button {
					min-width: 130px;
					padding: 11px 27px;
					font-size: 16px;
				}
			}
			&.buttonsRowRUS {
				:first-child {
					margin-left: 30px;
				}
				:last-child {
					margin-right: 30px;
				}
				& .button {
					font-size: 16px;
					padding: 11px 16px;
				}
			}
			&.buttonsRowENG {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 25px;
				}

				& .button {
					font-size: 16px;
					padding: 12px 20px;
					min-width: 130px;
				}
			}
		}
	}

	@media (max-width: 900px) {
		.buttonsRow {
			&.buttonsRowTUR {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 30px;
				}

				& .button {
					min-width: 120px;
					padding: 7px 10px;
					font-size: 14px;
				}
			}
			&.buttonsRowKAZ {
				:first-child {
					margin-left: 30px;
				}
				:last-child {
					margin-right: 20px;
				}

				& .button {
					padding: 7px 13px;
					min-width: 90px;
					font-size: 14px;
				}
			}
		}
	}

	@media (max-width: 860px) {
		.buttonsRow {
			&.buttonsRowUZB {
				:first-child {
					margin-left: 12px;
				}
				:last-child {
					margin-right: 10px;
				}
			}
			&.buttonsRowRUS {
				:first-child {
					margin-left: 18px;
				}
				:last-child {
					margin-right: 20px;
				}
				& .button {
					font-size: 14px;
					padding: 11px 16px;
				}
			}
		}
	}

	@media (max-width: 800px) {
		.button {
			font-size: clamp(12px, 8px + 0.760456vw, 18px);
		}

		.buttonsRow {
			&.buttonsRowKAZ {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 10px;
				}
			}
			&.buttonsRowRUS {
				:first-child {
					margin-left: 18px;
				}
				:last-child {
					margin-right: 20px;
				}
				& .button {
					font-size: 14px;
					padding: 11px 8px;
					min-width: 130px;
				}
			}
			&.buttonsRowENG {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 25px;
				}

				& .button {
					font-size: 14px;
					padding: 8px 8px;
					min-width: 105px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		margin: 60px 0;

		.buttonsRow {
			gap: 20px;
		}

		.button {
			padding: 5px;
			font-size: 14px;
		}

		.buttonsRow {
			margin: 10px calc(20px + (130 - 20) * (100vw - 320px) / (1920 - 320)) 0;

			&.buttonsRowUZB {
				:first-child {
					margin-left: 30px;
				}
				:last-child {
					margin-right: 30px;
				}

				& .button {
					min-width: 100px;
				}
			}
			&.buttonsRowTUR {
				:first-child {
					margin-left: 15px;
				}
				:last-child {
					margin-right: 25px;
				}

				& .button {
					min-width: 120px;
					padding: 7px 10px;
					font-size: 14px;
				}
			}
			&.buttonsRowRUS {
				:first-child {
					margin-left: 8px;
				}
				:last-child {
					margin-right: 12px;
				}
				& .button {
					font-size: 12px;
					padding: 7px 10px;
					min-width: 90px;
				}
			}
		}
	}

	@media (max-width: 680px) {
		.buttonsRow {
			&.buttonsRowUZB {
				:first-child {
					margin-left: 20px;
				}
				:last-child {
					margin-right: 20px;
				}
			}
			&.buttonsRowTUR {
				& .button {
					min-width: 95px;
					padding: 7px 10px;
					font-size: 12px;
				}
			}
			&.buttonsRowKAZ {
				:first-child {
					margin-left: 10px;
				}
				:last-child {
					margin-right: 0px;
				}

				& .button {
					font-size: 12px;
				}
			}
			&.buttonsRowENG {
				:first-child {
					margin-left: 15px;
				}
				:last-child {
					margin-right: 15px;
				}

				& .button {
					min-width: 92px;
					padding: 8px 3px;
					font-size: 12px;
				}
			}
		}
	}

	@media (max-width: 570px) {
		.buttonsRow {
			&.buttonsRowUZB {
				:first-child {
					margin-left: 10px;
				}
				:last-child {
					margin-right: 10px;
				}

				& .button {
					padding: 4px;
					min-width: 80px;
					font-size: 12px;
				}
			}
			&.buttonsRowTUR {
				:first-child {
					margin-left: 10px;
				}
				:last-child {
					margin-right: 15px;
				}
				& .button {
					min-width: 80px;
					padding: 5px;
					font-size: 12px;
				}
			}

			&.buttonsRowENG {
				:first-child {
					margin-left: 10px;
				}
				:last-child {
					margin-right: 10px;
				}

				& .button {
					min-width: 80px;
					padding: 5px 3px;
					font-size: 10px;
				}
			}
		}
	}

	@media (max-width: 500px) {
		.buttonsRow {
			&.buttonsRowKAZ {
				:first-child {
					margin-left: 5px;
				}
				:last-child {
					margin-right: 5px;
				}

				& .button {
					min-width: 80px;
					padding: 5px 7px;
					font-size: 10px;
				}
			}
			&.buttonsRowRUS {
				:first-child {
					margin-left: 8px;
				}
				:last-child {
					margin-right: 12px;
				}
				& .button {
					font-size: 10px;
					padding: 5px;
					min-width: 90px;
				}
			}
		}
	}
}
