.HomeCards {
	margin: 200px 0;

	.pinkBg {
		position: relative;
		width: 100%;
		max-width: 1328px;
		height: 500px;
		margin: 0 auto;
		background: #ff2684;
		/* магия формы */
		clip-path: polygon(0% 29%, 100% 5%, 100% 100%, 0% 70%);
		clip: rect(175px, 175px, 175px, 175px);

		border-radius: 240px; /* чтобы сделать скругления */

		&::after {
			content: '';
			position: absolute;
			width: 500px;
			height: 500px;
			top: 0;
			left: 0;
			background-color: #fff;
			border-radius: 100%;
		}
	}
}
