.form {
	padding: 50px;
	margin: 50px 0;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #262626;
	color: var(--white);

	// варианты фона
	&.default {
		background: #262626;
	}

	&.pink {
		background: var(--pink);

		// перекрашиваем текст и плейсхолдеры
		.inp {
			color: var(--white);
			border-color: rgba(255, 255, 255, 0.6);

			&::placeholder {
				color: var(--white);
				opacity: 0.7;
			}
		}

		.lbl {
			color: var(--white);
		}

		.text {
			color: var(--white);
		}
	}
	.textWrapper {
		max-width: 345px;
	}

	.title {
		font-weight: 900;
		font-size: 52px;
		line-height: 100%;
		margin-bottom: 30px;
	}

	.text {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		color: #fff;
	}

	.rightSide {
		width: 100%;
		max-width: 577px;
		height: 383px;
	}

	.inputsWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 5px;
		margin-bottom: 15px;
	}

	.lbl {
		font-weight: 400;
		font-size: 18px;
		color: #fff;
	}

	.inp {
		font-weight: 400;
		font-size: 14px;
		color: #777;
		border: 1px solid #d9d9d9;
		border-radius: 8px;
		padding: 10px 15px;

		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			color: #777;
		}
	}

	.textarea {
		resize: none;
		height: 96px;
		margin-bottom: 30px;
	}

	.btn {
		border-radius: 8px;
		width: 127px;
		height: 36px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		color: #3c3c3c;
		margin: 0 auto;
	}

	.successBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 50px 0;
		text-align: center;
		gap: 15px;
		width: 100%;
		height: 100%;
	}

	.successIcon {
		width: 80px;
		height: 80px;
		color: #4ade80; // зелёный
	}

	.successText {
		font-weight: 700;
		font-size: 22px;
		color: #fff;
	}
}
