.viewportClip {
	overflow: hidden;
	width: 100%;
	padding: 0 60px;
	margin: 0 -60px;
	width: calc(100% + 120px);
}
.swiper {
	--slides: 5;
	--gap: 24px;
	padding: 50px 0;
	--viewport: calc(100vw - 120px);

	--gaps-sum: calc((var(--slides) - 1) * var(--gap));
	--slot-w: calc((var(--viewport) - var(--gaps-sum)) / var(--slides));
	--k: clamp(0.2, calc(var(--slot-w) / 800), 1);
}
.swiperSlideAuto {
	width: var(--slot-w) !important;
}
.slot {
	width: var(--slot-w);
	height: calc(500px * var(--k));
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.slide {
	width: 800px !important;
	height: 500px !important;
	flex-shrink: 0;
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 100px;
	box-shadow: 5px 22px 28px 0 rgba(0, 0, 0, 0.1);
	transform: scale(var(--k));
	transform-origin: center center;
	transition: transform 250ms ease;
}
.img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background: #fff;
}

@media (max-width: 1300px) {
	.slide {
		padding: 20px;
		width: 500px !important;
		height: 300px !important;
	}
}

@media (max-width: 991px) {
	.slide {
		width: 450px !important;
		height: 250px !important;
	}
}

@media (max-width: 768px) {
	.slide {
		width: 290px !important;
		height: 175px !important;
	}
}
@media (max-width: 500px) {
	.slide {
		width: 220px !important;
		height: 160px !important;
	}
}
