// hero of aboutUs page
.secondHero {
	margin: 50px 0;
	.wrapper {
		height: 420px;
		position: relative;
		padding: 40px 80px;
		color: var(--white);
		background-color: var(--pink);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.textWrapper {
		flex-shrink: 0;
	}

	.title {
		max-width: fit-content;
		font-weight: 900;
		font-size: clamp(28px, 4vw, 52px);

		& .purple {
			color: var(--purple);
		}

		& .yellow {
			color: var(--yellow);
		}
	}

	.text {
		font-size: clamp(14px, 1.5vw, 18px);
		line-height: 100%;
		max-width: 280px;
	}

	.imagesWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.imgWrapper {
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.leftImg {
		position: relative;
		width: min(420px, 28vw);
		height: min(300px, 20vw);
		display: flex;
		align-items: center;
		justify-content: center;
		.leftImgWrapper {
			width: min(150px, 10vw);
			height: min(230px, 15vw);
			overflow: hidden;

			position: absolute;
			transform: rotate(40deg);

			&:nth-child(1) {
				left: 10%;
				z-index: 1;
			}
			&:nth-child(2) {
				left: 30%;
				z-index: 2;
			}
			&:nth-child(3) {
				left: 50%;
				z-index: 3;
			}
		}
	}

	.rightImg {
		width: 309px;
		height: 447px;
		position: relative;
		bottom: 14px;

		/* ключ: окно-«маска» только для этого блока */
		overflow: hidden;
		will-change: clip-path, transform;
		contain: paint; // чтобы не влиять на остальные

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block; // на всякий случай
		}
	}
}
// ========================================
// ========================================
// ========================================

.centralAsia {
	margin-bottom: 200px;
	margin-top: 100px;
	.title {
		max-width: 500px;
		font-weight: 900;
		font-size: 42px;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		color: var(--purple);
		margin: 0 auto 30px;

		& span {
			color: var(--pink);
		}
	}

	.list {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		gap: 60px;
		margin-bottom: 80px;
	}

	.item {
		flex: 1 1 220px;
		max-width: 272px;
		min-width: 200px;
		display: flex;
		flex-direction: column;
	}

	.imgWrapper {
		width: 100%;
		height: 149px;
		overflow: hidden;
		margin-bottom: 40px;
		position: relative;
		flex-shrink: 0;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.innerTitle {
		font-weight: 900;
		font-size: clamp(18px, 2vw, 24px);
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		color: var(--purple);
		margin-bottom: 15px;
		flex-shrink: 0;
	}

	.text {
		font-weight: 400;
		font-size: clamp(14px, 1.5vw, 18px);
		line-height: 100%;
		text-align: center;
		color: var(--purple);
		flex-grow: 1;
	}

	.dropsList {
		margin-top: 50px;
		gap: 150px 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.dropsItem {
		width: 300px;
		height: 340px;
		gap: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 135%;
			top: -12px;
			left: 6px;
			background: url('../../assets/images/HotPutBg.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}

	.iconWrapper {
		width: 170px;
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		background-color: var(--yellow);
		flex-shrink: 0;

		& img {
			width: 120px;
			height: 120px;
			object-fit: contain;
		}
	}

	.dropsTitle {
		font-weight: 900;
		font-size: 24px;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		max-width: 200px;
	}

	.dropsText {
		color: var(--white);
		max-width: 200px;
		text-align: center;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
	}
}

// ========================================
// ========================================
// ========================================
.ourCommunity {
	position: relative;
	z-index: 1;
	padding-bottom: 100px;

	.wrapper {
		height: 440px;
		display: flex;
		align-items: center;
		padding-left: 100px;
		position: relative;
		z-index: 1;
	}

	.content {
		flex-shrink: 1;
	}

	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 52px);
		& span {
			color: var(--yellow);
		}
	}

	.text {
		margin: 30px 0;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);
		max-width: 580px;
	}

	.imgWrapper {
		width: 540px;
		height: 850px;
		overflow: hidden;
		z-index: 2;
		flex-shrink: 0;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.purpleWrapper {
		margin-top: 115px;
		position: relative;
		gap: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: right;
		padding-right: 100px;
		z-index: 3;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/purple-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}

	.purpleImgWrapper {
		width: 360px;
		height: 450px;
		overflow: hidden;
		margin-left: 150px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.yellowWrapper {
		background: url('../../assets/images/yellow-big-bg.png') no-repeat
			center/contain;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 100px;
		margin-top: 115px;

		.title {
			font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
			color: var(--purple);
			& span {
				color: var(--pink);
			}
		}

		.text {
			max-width: 500px;
			font-weight: 300;
			color: var(--purple);
			margin: 30px 0;
			font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);
		}

		.imgWrapper {
			width: 614px;
			height: 437px;
			overflow: hidden;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
// ========================================
// ========================================
// ========================================

@media (max-width: 1200px) {
	.secondHero {
		.wrapper {
			padding: 40px;
		}
	}

	.ourCommunity {
		.purpleWrapper,
		.yellowWrapper {
			margin-top: 0px;
		}

		.imgWrapper {
			width: 475px;
			height: 800px;
		}

		.purpleImgWrapper {
			height: 380px;
			margin: 80px 0 80px 50px;
		}

		.yellowWrapper {
			.title {
				font-size: 40px;
			}

			.text {
				margin: 8px 0 30px;
			}

			.imgWrapper {
				flex-shrink: 1;
				height: 380px;
			}
		}

		.title {
			font-size: 40px;
		}

		.text {
			margin: 8px 0 30px;
		}
	}
}

@media (max-width: 991px) {
	.secondHero {
		.wrapper {
			height: 280px;
		}
		.rightImg {
			width: 222px;
			height: 350px;
			bottom: 20px;
		}

		.textWrapper {
			flex-shrink: 1;
		}
	}

	.centralAsia {
		.dropsList {
			.dropsItem {
				&::after {
					content: '';
					position: absolute;
					width: 99%;
					height: 118%;
				}
			}
			.dropsTitle {
				font-size: 20px;
			}

			.iconWrapper {
				width: 143px;
				height: 143px;
			}
		}
	}

	.ourCommunity {
		.imgWrapper {
			width: 360px;
			height: 580px;
			margin-right: 30px;
		}
		.purpleImgWrapper {
			height: 380px;
			margin: 0px 0 0px 50px;
		}
	}
}

@media (max-width: 900px) {
	.ourCommunity {
		.title {
			font-size: 30px;
		}

		.text {
			font-size: 18px;
		}

		.wrapper {
			padding-left: 80px;
		}

		.yellowWrapper {
			.title {
				font-size: 30px;
			}

			.text {
				font-size: 18px;
			}
		}

		.purpleWrapper {
			.purpleImgWrapper {
				max-width: 360px;
				flex-shrink: 1;
			}
		}

		.wrapper,
		.purpleWrapper,
		.yellowWrapper {
			position: relative;
			isolation: isolate;

			.content,
			.imgWrapper,
			.purpleImgWrapper {
				position: relative;
				z-index: 1;
			}
		}

		.wrapper {
			background: none;
			padding-left: 40px;

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: var(--pink);
				clip-path: polygon(0% 38%, 100% 5%, 100% 96%, 0% 65%);
				z-index: 0;
				pointer-events: none;
			}
		}

		.purpleWrapper {
			padding-right: 40px;
			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: var(--purple);
				clip-path: polygon(0% 31%, 100% 4%, 100% 96%, 0% 67%);
				transform: none;
				z-index: 0;
				pointer-events: none;
			}
		}

		.yellowWrapper {
			background: none;
			padding-left: 40px;

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: var(--yellow);
				clip-path: polygon(0% 2%, 100% 41%, 100% 65%, -1% 96%);
				z-index: 0;
				pointer-events: none;
			}
		}
	}
}

@media (max-width: 768px) {
	.secondHero {
		.rightImg {
			width: 200px;
			height: 310px;
			bottom: 4px;
		}
	}

	.ourCommunity {
		.imgWrapper {
			width: 300px;
			height: 474px;
			margin-right: 0;
		}

		.wrapper {
			height: 350px;
		}

		.purpleImgWrapper {
			height: 350px;
		}
	}
}

@media (max-width: 700px) {
	.secondHero {
		.leftImg {
			.leftImgWrapper {
				width: min(150px, 16vw);
				height: min(230px, 25vw);

				&:nth-child(1) {
					left: -10%;
					z-index: 1;
					top: -25%;
					transform: rotate(-40deg);
				}
				&:nth-child(2) {
					left: 15%;
					z-index: 2;
					transform: rotate(-25deg);
				}
				&:nth-child(3) {
					top: 10%;
					left: 35%;
					z-index: 3;
					transform: rotate(5deg);
				}
			}
		}

		.rightImg {
			display: none;
		}
	}

	.centralAsia {
		.dropsList {
			gap: 90px;
		}
	}

	.ourCommunity {
		.imgWrapper {
			width: 200px;
			height: 315px;
			margin-bottom: -120px;
		}
		.wrapper {
			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: var(--pink);
				clip-path: polygon(0% 39%, 100% 0%, 100% 100%, 0% 71%);
				z-index: 0;
				pointer-events: none;
			}
		}

		.yellowWrapper {
			background: none;
			padding-left: 40px;
			.imgWrapper {
				height: 500px;
				max-width: 500px;
			}
			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: var(--yellow);
				clip-path: polygon(0% 2%, 100% 41%, 100% 65%, -1% 96%);
				z-index: 0;
				pointer-events: none;
			}
		}
	}
}

@media (max-width: 600px) {
	.secondHero {
		.wrapper {
			padding: 20px;
			height: 240px;
		}
	}

	.ourCommunity {
		padding-bottom: 60px;

		.title {
			text-align: center;
		}
		.text {
			text-align: center;
			max-width: 100%;
		}

		/* общие правила для трёх блоков */
		.wrapper,
		.purpleWrapper,
		.yellowWrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			height: auto;
			gap: 20px;
			padding: 40px 20px;
			text-align: center;

			/* снимаем все формы */
			&::after {
				content: none !important;
			}

			/* ВСЕГДА: сначала картинка, потом контент */
			.imgWrapper,
			.purpleImgWrapper {
				order: -1;
				align-self: center;
			}

			.content {
				order: 0;
				width: 100%;
			} /* явное поведение */
		}

		/* 1) Розовый блок */
		.wrapper {
			background: none;
			background-color: var(--pink);
		}

		/* 2) Фиолетовый блок */
		.purpleWrapper {
			background: none;
			background-color: var(--purple);
			.purpleImgWrapper {
				max-width: 200px;
			}

			.title,
			.text {
				color: var(--white);
			}
			.title span {
				color: var(--yellow);
			}

			padding-right: 20px;
			text-align: center;
		}

		/* 3) Жёлтый блок */
		.yellowWrapper {
			background: none;
			background-color: var(--yellow);
			.imgWrapper {
				max-width: 300px;
				height: 220px;
			}

			.title {
				color: var(--purple);
			}
			.title span {
				color: var(--pink);
			}
			.text {
				color: var(--purple);
			}

			padding-left: 20px;
		}

		/* картинки — ужимаем и центрируем */
		.imgWrapper,
		.purpleImgWrapper {
			width: 100%;
			max-width: 200px;
			height: auto;
			margin: 0 auto;
			overflow: hidden;

			& img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
}
