@use './reset.scss' as *;

:root {
	--font-family: 'Roboto', sans-serif;
	--second-family: 'Inter', sans-serif;

	--pink: #ff2684;
	--purple: #8037de;
	--yellow: #f9dc4d;
	--white: #fff;
	--black: #3c3c3c;
}
