@use './reset.scss' as *;

:root {
	--pink: #ff2684;
	--purple: #8037de;
	--yellow: #f9dc4d;
	--white: #fff;
	--black: #3c3c3c;
	--orange: #ca9432;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1315px;
}

html,
body {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 22px;
	line-height: 1.3em;
	color: var(--white);
	scroll-behavior: smooth;

	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

.pink-bg {
	width: 100%;
	height: 100%;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../assets/images/pink-bg.png') no-repeat center/contain;
		z-index: -1;
	}
}

.pink-bg-reverse {
	width: 100%;
	height: 100%;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../assets/images/pink-bg.png') no-repeat center/contain;
		z-index: -1;
		transform: rotate(180deg);
	}
}
