* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// transition: all 0.3s ease-in-out;
}

ul,
ol {
	list-style: none;
}

a,
button {
	border: none;
	text-decoration: none;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	line-height: 1.3em;
}

input,
label,
textarea {
	border: none;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
