.secondHero {
	margin: 50px 0;
	.wrapper {
		height: 380px;
		position: relative;
		padding: 40px 80px;
		color: var(--white);
		background-color: var(--pink);
		display: flex;
		align-items: center;
	}

	.textWrapper {
		width: 330px;
		flex-shrink: 0;
	}

	.title {
		max-width: 340px;
		font-weight: 900;
		font-size: 52px;
		line-height: 100%;
		margin-bottom: 20px;

		& .purple {
			color: var(--purple);
		}

		& .yellow {
			color: var(--yellow);
		}
	}

	.text {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		max-width: 430px;
	}

	.imagesWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 150px;
		width: 100%;
	}

	.leftImg {
		position: relative;
		width: 100%;
		height: 200px;

		& .leftImgWrapper {
			box-shadow: 4px 5px 29px 0 rgba(0, 0, 0, 0.15);
			position: absolute;
			width: 420px;
			height: 240px;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			&:nth-child(1) {
				transform: rotate(15deg);
				z-index: 1;
				top: -43%;
				right: 0;
			}
			&:nth-child(2) {
				transform: rotate(-20deg);
				z-index: 2;
				left: 00%;
				top: -20%;
			}
			&:nth-child(3) {
				transform: rotate(10deg);
				z-index: 3;
				left: 40%;
				top: 30%;
			}
		}
	}
}

// =================================================================
// =================================================================
// =================================================================
.quality {
	.wrapper {
		height: 450px;
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 100px;
		justify-content: space-between;
		text-align: left;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/purple-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}
	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}
	.text {
		max-width: 460px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}
	.imgWrapper {
		width: 100%;
		max-width: 500px;
		height: 287px;
		overflow: hidden;
		box-shadow: 5px 6px 36px 0 rgba(0, 0, 0, 0.15);
		transform: rotate(9deg);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// =================================================================
// =================================================================
// =================================================================
.certified {
	.wrapper {
		height: 450px;
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 100px;
		justify-content: space-between;
		text-align: right;
		color: var(--purple);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/yellow-big-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}
	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}
	.text {
		max-width: 460px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}
	.imgWrapper {
		width: 100%;
		max-width: 350px;
		height: 350px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// =================================================================
// =================================================================
// =================================================================
.ourPower {
	.wrapper {
		height: 450px;
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 100px;
		justify-content: space-between;
		text-align: left;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/pink-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}
	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}
	.text {
		max-width: 460px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}
	.imgWrapper {
		width: 100%;
		max-width: 500px;
		height: 287px;
		overflow: hidden;
		box-shadow: 5px 6px 41px 0 rgba(0, 0, 0, 0.2);

		transform: rotate(-9deg);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// =================================================================
// =================================================================
// =================================================================

// =================================================================
// =================================================================
// =================================================================
