/* hero of quality page */
.secondHero {
	margin: 50px 0;

	.wrapper {
		height: 380px;
		position: relative;
		padding: 40px 80px;
		color: var(--white);
		background-color: var(--yellow);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.textWrapper {
		flex-shrink: 0;
	}

	.title {
		max-width: 435px;
		font-weight: 900;
		line-height: 100%;
		margin-bottom: 20px;
		font-size: clamp(28px, 4vw, 52px);

		& .purple {
			color: var(--purple);
		}
		& .pink {
			color: var(--pink);
		}
	}

	.text {
		font-size: clamp(14px, 1.5vw, 18px);
		line-height: 100%;
		max-width: 280px;
	}

	.imagesWrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.imgWrapper {
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.leftImg {
		position: relative;
		width: min(420px, 28vw);
		height: min(300px, 20vw);
		display: flex;
		align-items: center;
		justify-content: center;

		.leftImgWrapper {
			width: min(150px, 10vw);
			height: min(230px, 15vw);
			overflow: hidden;
			position: absolute;
			transform: rotate(40deg);

			&:nth-child(1) {
				left: 10%;
				z-index: 1;
			}
			&:nth-child(2) {
				left: 30%;
				z-index: 2;
			}
			&:nth-child(3) {
				left: 50%;
				z-index: 3;
			}
		}
	}

	.rightImg {
		width: 335px;
		height: 380px;
		position: relative;

		/* как в aboutUs: окно */
		overflow: hidden;
		will-change: clip-path, transform;
		contain: paint;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover; /* как в aboutUs */
			display: block;
		}
	}
}

// ========================================================
// ========================================================
// ========================================================

.quality {
	margin: 0 0 50px 0;
	.wrapper {
		display: flex;
		align-items: center;
		position: relative;
		text-align: right;
		padding-right: 100px;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/purple-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}

	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
		& span {
			color: var(--yellow);
		}
	}

	.text {
		margin: 15px 0 30px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);
		max-width: 580px;
	}

	.imgWrapper {
		width: 100%;
		max-width: 500px;
		height: 400px;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

// ========================================================
// ========================================================
// ========================================================
.drops {
	margin-bottom: 100px;
	.dropsList {
		margin-top: 50px;
		gap: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.dropsItem {
		width: 300px;
		height: 340px;
		gap: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 135%;
			height: 145%;
			top: -12px;
			left: -47px;
			background: url('../../assets/images/drops-pink.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}

	.iconWrapper {
		width: 180px;
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		background-color: var(--white);
		flex-shrink: 0;
	}

	.dropsTitle {
		font-weight: 900;
		font-size: 24px;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		max-width: 200px;
	}

	.dropsText {
		color: var(--white);
		max-width: 200px;
		text-align: center;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
	}
}
// ========================================================
// ========================================================
// ========================================================

// ========================================================
// ========================================================
// ========================================================
.ensureQuality {
	margin-top: 200px;
	position: relative;
	z-index: 1;
	.wrapper {
		height: 440px;
		display: flex;
		align-items: center;
		padding-left: 100px;
		position: relative;
		z-index: 1;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/yellow-big-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}
	.title {
		color: var(--purple);
		font-size: clamp(18px, calc(18px + 37px * (100vw / 1315px)), 55px);
		& span {
			color: var(--pink);
		}
	}
	.text {
		color: var(--purple);
		margin: 15px 0 30px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);
		max-width: 686px;
	}
	.imgWrapper {
		width: 560px;
		height: 703px;
		overflow: hidden;
		z-index: 2;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// ------------------------
	.pinkWrapper {
		margin-top: 50px;
		position: relative;
		gap: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: right;
		padding-right: 100px;
		z-index: 3;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/pink-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}
	.pinkTitle {
		color: var(--white);
	}
	.pinkText {
		color: var(--white);
		max-width: 560px;
	}
	.pinkImgWrapper {
		width: 680px;
		height: 450px;
		overflow: hidden;
		margin-left: 50px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// ------------------------
	.purpleWrapper {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 100px;
		z-index: 4;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/purple-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}
		.title {
			color: var(--white);
			font-size: clamp(18px, calc(18px + 37px * (100vw / 1315px)), 55px);
			& span {
				color: var(--pink);
			}
		}

		.text {
			color: var(--white);
			margin: 15px 0 30px;
			font-weight: 300;
			font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);
			max-width: 560px;
		}
		.imgWrapper {
			position: relative;
			bottom: 86px;
			width: 530px;
			height: 500px;
			overflow: hidden;
			z-index: 5;

			& img {
				width: 100%;
				height: 100%;
				object-fit: coverd;
			}
		}
	}
	// ------------------------
	.ourCertifications {
		position: relative;
		display: flex;
		align-items: center;
		text-align: right;
		padding-right: 50px;
		color: var(--white);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/pink-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}

		.imgWrapper {
			margin-left: 100px;
			width: 370px;
			height: 400px;
			overflow: hidden;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.sertificationsTitle {
			color: var(--white);
		}

		.sertificationsText {
			color: var(--white);
		}
	}
}
// ========================================================
// ========================================================
// ========================================================

@media (max-width: 1300px) {
	.secondHero {
		.wrapper {
			padding: 40px;
		}
	}
}

@media (max-width: 1200px) {
	.secondHero {
		.wrapper {
			height: 310px;
		}
		.rightImg {
			width: 285px;
			height: 330px;
			bottom: 11px;
		}
	}
}

@media (max-width: 991px) {
	.secondHero {
		.wrapper {
			height: 265px;
		}

		.rightImg {
			width: 230px;
			height: 260px;
			bottom: -1px;
		}

		.imagesWrapper {
			justify-content: space-around;
		}

		.leftImg {
			width: min(420px, 18vw);
			height: min(300px, 13vw);
			.leftImgWrapper {
				width: min(150px, 6vw);
				height: min(230px, 10vw);
			}
		}
	}

	.quality {
		.imgWrapper {
			width: 300px;
			height: 330px;
		}
	}
}

@media (max-width: 850px) {
	.secondHero {
		.wrapper {
			height: 215px;
		}
		.rightImg {
			width: 200px;
			height: 230px;
			bottom: 8px;
		}
	}

	.quality {
		.title {
			font-size: 35px;
		}

		.text {
			font-size: 18px;
		}
	}
}

@media (max-width: 768px) {
	.quality {
		position: relative;
		background: none;

		.wrapper {
			padding-right: 0;
			&::after {
				content: '';
				display: none;
			}
		}
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: var(--purple);
			clip-path: polygon(0% 31%, 100% 4%, 100% 96%, 0% 67%);
			transform: none;
			pointer-events: none;
			z-index: -1;
		}
	}
}

@media (max-width: 700px) {
	.secondHero {
		.leftImg {
			.leftImgWrapper {
				width: min(150px, 12vw);
				height: min(230px, 19vw);

				&:nth-child(1) {
					left: -10%;
					z-index: 1;
					top: -25%;
					transform: rotate(-40deg);
				}
				&:nth-child(2) {
					left: 15%;
					z-index: 2;
					transform: rotate(-15deg);
				}
				&:nth-child(3) {
					top: 10%;
					left: 35%;
					z-index: 3;
					transform: rotate(25deg);
				}
			}
		}
		.rightImg {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.secondHero {
		.wrapper {
			padding: 20px;
		}

		.text {
			width: 220px;
		}
		.title {
			font-size: 22px;
		}
	}
}

@media (max-width: 500px) {
	.quality {
		margin: 0 0 40px 0;
		background-color: var(--purple);

		&::after {
			content: '';
			position: absolute;
			display: none;
		}

		.wrapper {
			flex-direction: column; /* картинка сверху, текст снизу */
			align-items: center;
			justify-content: center;
			text-align: center; /* центрируем текст */
			padding: 24px 20px; /* внутренние отступы */
			padding-right: 20px; /* убираем правый запас */

			&::after {
				content: none;
			}
		}

		.imgWrapper {
			width: 215px;
			height: 200px;
		}

		.content {
			max-width: 100%;
		}

		.title {
			font-size: 27px;
		}
		.text {
			max-width: 100%;
			font-size: 14px;
		}
	}
}
