.secondHero {
	margin: 50px 0;
	.wrapper {
		height: 380px;
		position: relative;
		padding: 40px 80px;
		color: var(--white);
		background-color: var(--purple);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.titleWrapper {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-bottom: 30px;
	}
	.title {
		font-size: clamp(28px, 4vw, 52px);
	}
	.innerTitle {
		display: flex;
		flex-direction: column;
		& span {
			font-weight: 900;
			font-size: clamp(28px, 4vw, 52px);

			line-height: 100%;
		}
		& .pink {
			color: var(--pink);
		}
		& .yellow {
			color: var(--yellow);
		}
	}

	.text {
		font-weight: 300;
		font-size: clamp(14px, 1.5vw, 18px);
		line-height: 100%;
		max-width: 400px;
	}

	.imagesWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.imgWrapper {
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.leftImg {
		position: relative;
		width: min(420px, 28vw);
		height: min(300px, 20vw);
		display: flex;
		align-items: center;
		justify-content: center;
		.leftImgWrapper {
			width: min(150px, 10vw);
			height: min(230px, 15vw);
			overflow: hidden;

			position: absolute;
			transform: rotate(40deg);

			&:nth-child(1) {
				left: 10%;
				z-index: 1;
			}
			&:nth-child(2) {
				left: 30%;
				z-index: 2;
			}
			&:nth-child(3) {
				left: 50%;
				z-index: 3;
			}
		}
	}

	.rightImg {
		width: 309px;
		height: 447px;
		position: relative;
		bottom: 34px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
.brandNews {
	margin-bottom: 100px;

	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-left: 100px;
		text-align: right;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/pink-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}
	.content {
		margin-left: auto;
		text-align: left;
	}
	.title {
		font-size: clamp(28px, 4vw, 52px);
	}

	.text {
		margin: 15px 0 30px;
		font-weight: 300;
		font-size: clamp(14px, 1.5vw, 18px);
		max-width: 580px;
	}

	.imgWrapper {
		width: 600px;
		height: 450px;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
.events {
	.wrapper {
		position: relative;
		color: var(--purple);
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: right;
		padding-right: 100px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/yellow-big-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}

	.text {
		max-width: 500px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}

	.imgWrapper {
		width: 450px;
		height: 480px;
		overflow: hidden;
		margin-left: 50px;
		position: relative;
		bottom: 64px;
		transform: rotate(-1deg);

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
.giveaways {
	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 100px;
		text-align: left;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/purple-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}

	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}

	.text {
		max-width: 460px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}

	.btn {
		position: relative;
		font-family: var(--font-family);
		font-weight: 700;
		text-align: center;
		transition: 0.3s;
		padding: 20px 30px;
		font-size: clamp(12px, calc(12px + 10px * (100vw / 1315px)), 22px);
		color: var(--purple);
		z-index: 1;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 110%;
			top: -4px;
			left: 0;
			background: url('../../assets/images/yellow-bg-small.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}

	.imgWrapper {
		width: 679px;
		height: 521px;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================

@media (max-width: 1200px) {
	.secondHero {
		.wrapper {
			padding: 40px;
			height: 285px;
		}

		.rightImg {
			width: 230px;
			height: 354px;
		}
	}
}

@media (max-width: 900px) {
	.brandNews {
		.imgWrapper {
			height: 280px;
		}
	}
}

@media (max-width: 768px) {
	.secondHero {
		.rightImg {
			width: 175px;
			height: 315px;
			bottom: 15px;
		}
	}

	.brandNews {
		.wrapper {
			padding-left: 75px;
		}
		.imgWrapper {
			width: 400px;
		}
		.text {
			margin: 5px 0 15px;
		}
	}
}

@media (max-width: 700px) {
	.secondHero {
		.wrapper {
			height: 280px;
			padding: 10px 20px;
		}

		.text {
			max-width: 300px;
		}

		.leftImg {
			.leftImgWrapper {
				width: min(150px, 16vw);
				height: min(230px, 25vw);

				&:nth-child(1) {
					left: -10%;
					z-index: 1;
					top: -25%;
					transform: rotate(-40deg);
				}
				&:nth-child(2) {
					left: 15%;
					z-index: 2;
					transform: rotate(-25deg);
				}
				&:nth-child(3) {
					top: 10%;
					left: 35%;
					z-index: 3;
					transform: rotate(5deg);
				}
			}
		}
		.rightImg {
			display: none;
		}
	}

	.brandNews {
		.wrapper {
			position: relative;
			z-index: 1;
			padding-left: 20px;

			&::after {
				content: '';
				background: var(--pink);
				clip-path: polygon(0% 38%, 100% 5%, 100% 96%, 0% 65%);
				z-index: -1;
				pointer-events: none;
				position: absolute;
			}
		}
	}
}

@media (max-width: 500px) {
	.secondHero {
		.wrapper {
			padding: 40px 20px;

			flex-direction: column;
			height: 400px;
		}

		.imagesWrapper {
			gap: 20px;
			justify-content: space-around;
		}

		.leftImg {
			height: min(300px, 34vw);

			.leftImgWrapper {
				&:nth-child(1) {
					left: -10%;
					z-index: 1;
					top: 5%;
					transform: rotate(-15deg);
				}
				&:nth-child(2) {
					left: 15%;
					z-index: 2;
					top: 0;
					transform: rotate(0deg);
				}
				&:nth-child(3) {
					top: 5%;
					left: 35%;
					z-index: 3;
					transform: rotate(15deg);
				}
			}
		}

		.rightImg {
			display: block;
			width: 132px;
			height: 213px;
		}
	}

	.brandNews {
		.wrapper {
			height: auto;
			padding: 20px;
			background-color: var(--pink);
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;

			&::after {
				display: none;
			}
		}

		.imgWrapper {
			width: 250px;
			height: 180px;
		}

		.content {
			text-align: center;
		}

		.text {
			margin: 15px 0 30px;
		}
	}
}
