.secondHero {
	margin: 50px 0;
	.wrapper {
		height: 380px;
		position: relative;
		padding: 40px 80px;
		color: var(--white);
		background-color: var(--purple);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.textWrapper {
		flex-shrink: 0;
	}

	.titleWrapper {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-bottom: 30px;
	}
	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
		& span {
			color: var(--yellow);
		}
	}
	.innerTitle {
		display: flex;
		flex-direction: column;
		& span {
			font-weight: 900;
			font-size: 52px;
			line-height: 100%;
		}
		& .pink {
			color: var(--pink);
		}
		& .yellow {
			color: var(--yellow);
		}
	}

	.text {
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);

		line-height: 100%;
		max-width: 400px;
	}

	.imagesWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.imgWrapper {
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.leftImg {
		position: relative;
		width: 400px;
		height: 270px;
		display: flex;
		align-items: center;
		justify-content: center;
		.leftImgWrapper {
			transform: rotate(30deg);
			position: absolute;
			width: 130px;
			height: 200px;
			overflow: hidden;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			&:nth-child(1) {
				left: 10%;
				z-index: 1;
			}
			&:nth-child(2) {
				left: 30%;
				z-index: 2;
			}
			&:nth-child(3) {
				left: 50%;
				z-index: 3;
			}
		}
	}

	.rightImg {
		width: 309px;
		height: 447px;
		position: relative;
		bottom: 34px;
		

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
.brandNews {
	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-left: 100px;
		text-align: right;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/pink-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}
	.content {
		margin-left: auto;
		text-align: left;
	}
	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}

	.text {
		margin: 15px 0 30px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 11px * (100vw / 1315px)), 23px);
		max-width: 580px;
	}

	.imgWrapper {
		width: 600px;
		height: 450px;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
.events {
	.wrapper {
		position: relative;
		color: var(--purple);
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: right;
		padding-right: 100px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/yellow-big-bg.png') no-repeat
				center/contain;
			transform: rotate(180deg);
			z-index: -1;
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}

	.text {
		max-width: 500px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}

	.imgWrapper {
		width: 450px;
		height: 480px;
		overflow: hidden;
		margin-left: 50px;
		position: relative;
		bottom: 64px;
		transform: rotate(-1deg);

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
.giveaways {
	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 100px;
		text-align: left;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../../assets/images/purple-bg.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}

	.title {
		font-size: clamp(18px, calc(18px + 42px * (100vw / 1315px)), 60px);
	}

	.text {
		max-width: 460px;
		font-weight: 300;
		font-size: clamp(12px, calc(12px + 12px * (100vw / 1315px)), 24px);
		margin: 15px 0 30px;
	}

	.btn {
		position: relative;
		font-family: var(--font-family);
		font-weight: 700;
		text-align: center;
		transition: 0.3s;
		padding: 20px 30px;
		font-size: clamp(12px, calc(12px + 10px * (100vw / 1315px)), 22px);
		color: var(--purple);
		z-index: 1;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 110%;
			top: -4px;
			left: 0;
			background: url('../../assets/images/yellow-bg-small.png') no-repeat
				center/contain;
			z-index: -1;
		}
	}

	.imgWrapper {
		width: 679px;
		height: 521px;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
// ======================================================
// ======================================================
// ======================================================
